*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    src: url("assets/CaesarLittleSs-DylE.ttf") format("truetype");
    font-family: 'pizza';
}

@font-face {
    font-family: 'pizza2';
    src: url("assets/Quesha-gndR.ttf") format("truetype");
}

/* body{
    display: flex;
    align-items: center;
    flex-direction: column;
} */







/* Header  */

header{
    position: relative;
    width: 100%;
    font-family: pizza2, sans-serif;
    margin-bottom: 2em;
}

header img{
    width: 100%;
    height: 100%;
    max-height: 250px;
}


header .text{
    position: absolute;
    top: 30%;
    left: 5%;
    color: white;
}


header h1{
    font-size: 1.875rem;
    letter-spacing: 3px;
}

header h2{
    font-size: 0.75rem;
    letter-spacing: 2px;
}








/* Main  */

main {
    padding: 0.625em 1.25em;
}

/* Menu  */

.item{
    font-family: pizza, sans-serif;
    width: 100%;
    display: flex;
    align-items: center;

    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
}

.item .item-photo{
    flex-basis: 30%;
    font-size: 2.5rem;
    align-self: center;
    text-align: center;
}

.item-desc h2{
    font-size: 1.375rem;
    letter-spacing: 2px;
}

.item-desc .item-ingredients{
    font-size: 0.625rem;
    letter-spacing: 1px;
    color: #777;
}

.item-desc .item-price{
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin-top: 1.25em;
}

.add-to-cart-option{
    margin-left: auto;
}

.add-to-cart-button{
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 0.313em 0.625em;
    border-radius: 100%;
    font-size: 1.25rem;
    cursor: pointer;
    user-select: none;
}








/* Cart  */

.cart{
    font-family: pizza2, sans-serif;
    text-align: center;
    width: 100%;
    background-color: transparent;
}

.cart h2{
    font-size: 3.125rem;
    font-weight: bold;
    margin-top: 1em;
}

.cart .cart-items{
    border-bottom: 2px solid #000;
    margin: 0.625em auto;
}

.cart .cart-items .cart-item{
    display: flex;
    align-items: center;
}

.cart-item h3{
    font-size: 2.5rem;
}

.cart-item .remove-button{
    border: none;
    background-color: transparent;
    color: #ccc;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
    margin-left: 0.2em;
}


.cart .cart-item-price, .cart .total-price{
    font-size: 1.875rem;
    font-weight: bold;
    margin-left: auto;
    margin-right: 0.625em;
}

.cart .cart-total{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.cart .cart-total h3{
    font-size: 3.125rem;
}

.cart .order-button{
    border: none;
    background-color: seagreen;
    color: white;
    padding: 0.625em 1.25em;
    width: 100%;
    font-size: 1.563rem;
    cursor: pointer;
}












/* Payment  */

.payment-box{
    position: fixed;
    top : 25%;
    left: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px #0000001a;
    background-color: #ffffff;
    width: 90%;
}

.payment-details-form{
    width: 100%;
    text-align: center;
    padding: 1em;
}

.payment-details-form h2{
    font-family: pizza2, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 4em;
}

input{
    width: 100%;
    padding: 0.625em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.25em;
    outline: none;
    
}

/* Remove Arrows from Number Input  */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.submit-button{
    border: none;
    background-color: seagreen;
    color: white;
    padding: 0.938em 1.25em;
    width: 100%;
    font-size: 1.563rem;
    cursor: pointer;
    margin-top: 1em;
}

.message-box{
    width: 90%;
    text-align: center;
    padding: 1em;
    background-color:  rgba(46, 139, 86, 0.2);
    margin: 4em auto;
    font-family: pizza2, sans-serif;
    font-size: 1.563rem;
    font-weight: bold;
    color: seagreen;
}




/* Hidden Utility Class  */
.hidden{
    display: none;
}




/* Media Queries  */

@media screen and (min-width: 450px){

    header .text{
        top: 30%;
    }

   header h1{
        font-size: 3rem;
    }

    header h2{
        font-size: 1rem;
    }
}


@media screen and (min-width: 600px){

    header .text{
        top: 30%;
    }

   header h1{
        font-size: 4rem;
    }

    header h2{
        font-size: 2rem;
    }
    

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    

    .items{
        width: 80%;
    }

    
    .item .item-photo{
        font-size: 4rem;
    }


    .item-desc h2{
        font-size: 2.5rem;
    }

    .item-desc .item-ingredients{
        font-size: 1.25rem;
    }

    .item-desc .item-price{
        font-size: 1.563rem;
    }

    

    .cart{
        width: 80%;
    }

    .cart h2{
        font-size: 3.125rem;
    }

    .cart-item h3{
        font-size: 2.5rem;
    }

    .cart-item .remove-button{
        font-size: 1.25rem;
    }

    .cart .cart-item-price, .cart .total-price{
        font-size: 2.5rem;
    }

    .cart .cart-total h3{
        font-size: 3.125rem;
    }


    .payment-box{
        width: 50%;
        left: 25%;
    }

    .payment-details-form h2{
        font-size: 2.5rem;
    }

    .submit-button{
        font-size: 1.563rem;
    }

    .message-box{
        width: 80%;
        font-size: 2rem;
        margin: 2rem auto;
    } 
}

@media screen and (min-width: 800px){


   header h1{
        font-size: 5rem;
    }

    header h2{
        font-size: 2rem;
    }

    .item-desc h2{
        font-size: 3rem;
    }

    .item-desc .item-price{
        font-size: 2.2rem;
    }
    
    
    .item .item-photo{
        font-size: 4.5rem;
    }
    
}


@media screen and (min-width: 1000px){


    header .text{
        top: 20%;
    }

   header h1{
        font-size: 6rem;
    }

    header h2{
        font-size: 2rem;
    }
    
    .item-desc h2{
        font-size: 3.5rem;
    }

    .item-desc .item-price{
        font-size: 2.5rem;
    }
    
    .item .item-photo{
        font-size: 5rem;
    }
    
}


@media screen and (min-width: 1200px){


   header h1{
        font-size: 7rem;
    }

    header h2{
        font-size: 2rem;
    }

    .item-desc h2{
        font-size: 3.6rem;
    }

    .item-desc .item-price{
        font-size: 2.6rem;
    }

    
    .item .item-photo{
        font-size: 5.5rem;
    }
    
}


@media (hover: hover){
    
        .item .item-photo:hover{
            transform: scale(1.1);
        }
        .add-to-cart-button:hover{
            background-color: seagreen;
            color: white;
            border-color: white;
        }

    
        .remove-button:hover{
            color: seagreen;
        }

    
        .submit-button:hover, .order-button:hover{
            background-color:  rgba(46, 139, 86, 0.9);
        }
}